<% include structure/header.ejs %>
	<h1>AJOUTER</h1>

	<% if(erreurs != undefined){ %>
		<ul>
		<% erreurs.forEach(function(erreurs){ %>
			<li><%= erreurs.msg %></li>
			<% }) %>
		</ul>
	<% } %>

	
		<form method="POST" action="/utilisateurs/ajouter">
			<label>Prenom</label><br>
			<input type="text" name="prenom">
			<br>

			<label>Nom</label><br>
			<input type="text" name="nom">
			<br>
			<label>Email</label><br>
			<input type="text" name="email">
			<br><br>
			<input type="submit" name="Submit">

		</form>
		<h1><%= title %></h1>
		<% utilisateurs.forEach(function(utilisateurs){ %>
		<ul>
			<li><%= utilisateurs.prenom %> <%= utilisateurs.nom %></li>
		</ul>
		<% }) %>
		
<% include structure/footer.ejs %>



